{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    <div class="teaching-meta">
      <p class="teaching-details">
        {% assign type_slug = post.type | slugify %}
        <span class="teaching-badge teaching-badge--{{ type_slug }}">{{ post.type }}</span>
        {% if post.date %}
          <span class="teaching-separator"> • </span>
          <span class="teaching-year">{{ post.date | default: "1900-01-01" | date: "%Y" }}</span>
        {% endif %}
      </p>
      {% if post.venue %}
        <p class="teaching-venue">
          <i class="fa fa-university" aria-hidden="true"></i> 
          <strong>{{ post.venue }}</strong>
          {% if post.department %}
            <br><span class="teaching-department">{{ post.department }}</span>
          {% endif %}
        </p>
      {% endif %}
      {% if post.location %}
        <p class="teaching-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i> {{ post.location }}
        </p>
      {% endif %}
      {% if post.students %}
        <p class="teaching-students">
          <i class="fa fa-users" aria-hidden="true"></i> {{ post.students }} students
        </p>
      {% endif %}
    </div>

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

  </article>
</div>
